.badge {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0%;
    border-radius: 4px;
    gap: 10px;
    padding: 8px 6px;
}

.excellent {
    width: 70px;
    height: 26px;
    border: 1px solid rgba(40, 168, 121, 1);
    background: rgba(219, 248, 239, 1);
}

.good {
    width: 66px;
    height: 26px;
    color: black;
    background: rgba(216, 228, 251, 1);
    border: 1px solid rgba(173, 191, 223, 1);
}

.bad {
    width: 56px;
    height: 26px;
    border-width: 1px;
    color: #ea1a4f;
    border: 1px solid rgba(234, 26, 79, 1);
    background: rgba(254, 233, 239, 1);
}
